@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--clr-primary-dark-blue);
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-dark-blue: hsl(243, 87%, 12%);
    --clr-primary-desaturete-blue: hsl(238, 22%, 44%);
    --clr-accent-bright-blue: hsl(224, 93%, 58%);
    --clr-accent-cyan: hsl(170, 45%, 43%);
    --clr-nutral-grayish: hsl(240, 75%, 98%);
    --clr-nutral-gray: hsl(0, 0%, 75%);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.logo img {
    width: 50%;
    margin: 1em 0 0 1em;
}

.navbar {
    display: flex;
    font-size: 16px;
}

.navbar a {
    padding-right: .7em;
    padding-top: .4em;
    text-decoration: none;
    color: var(--clr-primary-desaturete-blue);
}

main .illustration {
    width: 100%;
    padding: 2em;
}

.hero {
    text-align: center;
    padding: 1em;
}

.hero h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.hero p {
    padding: 0 1em;
    font-size: .9em;
}

.input {
    width: 90%;
    padding: 1em;
    margin: 2em 1em 1em;
    border-color: var(--clr-primary-dark-blue);
    border-radius: .5em;
}

.btn {
    background-color: var(--clr-accent-bright-blue);
    color: #fff;
    border: none;
    text-transform: capitalize;
    padding: .8em 9em;
    border-radius: .4em;
    font-weight: bold;
    box-shadow: .2em .2em 0 hsla(238, 22%, 44%, .2)
}

.productive {
    padding-bottom: 2em;
}

.productive h1 {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    text-align: center;
}

.productive p {
    padding: 1em 1em;
}

.productive .under {
    color: var(--clr-accent-cyan);
    text-align: center;
    position: relative;
}

.productive .under::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 44%;
    bottom: -.6em;
    left: 6.5em;
    background-color: var(--clr-accent-cyan);
}

.productive a {
    color: var(--clr-accent-cyan);
    text-decoration: none;
}

.productive img {
    margin-left: .5em;
}

.card {
    margin: 1em;
    border-radius: .5em;
    box-shadow: 0 0 .5em var(--clr-primary-desaturete-blue);
    padding: 2em;
}

.card .quote {
    padding-bottom: 1em;
}   

.card p {
    font-size: .8em;
    padding-bottom: 2em;
}

.card .avatar {
    display: flex;
}

.card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card .other {
    padding: .5em 0 0 1em;
}

.card .other h5 {
    font-size: 1.2em;
    font-weight: bolder;  
}

.access {
    margin-top: 5em;
    background-color: var(--clr-primary-desaturete-blue);
    text-align: center;
    padding: 1rem;
    font-size: .6em;
}

.access h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    font-weight: bolder;
}

.access p {
    color: #fff;
    font-size: 1.5em;
    padding: 1em;
}

.access .btn {
    font-size: 1em;
}

.access input {
    width: 76%;
}

footer {
    background-color: var(--clr-primary-dark-blue);
    padding: 1rem;
}

footer .logo {
    padding: 3rem 1rem;
}

footer .contact {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

footer .contact img {
    width: 15px;
    height: 15px;
    position: relative;
}

footer .contact span {
    color: #fff;
    position: absolute;
}

.phone {
    left: 4em;
}

.email {
    left: 4em;
    top: 130.4rem;
}

.sub {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.sub a {
    color: #fff;
    padding: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 60px;
    height: 60px;
    padding: .6em;
}